{% extends "base.html" %}

{% block head %}
    <title>blank</title>
{% endblock %}

{% block body %}
<p>
1 &mdash; Никогда ничего про это не слышал<br>
2 &mdash; Что-то про это слышал, но не очень много<br>
3 &mdash; Теория мне почти знакома (возможно, нужно додумать или посмотреть в литературе некоторые аспекты), программу написать будет проблематично<br>
4 &mdash; Теория мне знакома, программу, скорее всего, написать смогу<br>
5 &mdash; Тема мне хорошо знакома, могу уверенно написать работающую программу</p>
    <form action="/blank" method="post">
        {% csrf_token %}
        <table>
        {% for mark in marks %}
            <tr class="pad">
            <td>{{ mark.0 }}</td>
            <td>
                <select name="{{ mark.1 }}">
                    {% for i in lst %}
                        {% if i == mark.2 %}
                            <option selected>{{ i }}</option>
                        {% else %}
                            <option>{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Отправить" class="button">
    </form>
{% endblock %}
