{% extends "base.html" %}

{% block head %}
    <title>blank</title>
{% endblock %}

{% block body %}
    <form action="/blank" method="post">
        {% csrf_token %}
        <table>
        {% for mark in marks %}
            <tr class="pad">
            <td>{{ mark.0 }}</td>
            <td>
                <select name="{{ mark.1 }}">
                    {% for i in lst %}
                        {% if i == mark.2 %}
                            <option selected>{{ i }}</option>
                        {% else %}
                            <option>{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Отправить" class="button">
    </form>
{% endblock %}
