{% extends "base.html" %}

{% block head %}
    <title>hecs.info</title>
{% endblock %}

{% block body %}
    <div class="home_hex_container">
        {% if auth_user == None %}
            <a href="/login">
                <div class="hexagon hex_left hex_link hex_button">
                    <div class="hexagon_button_text"><br>Вход</div>
                </div>
            </a>
            <a href="/signup">
                <div class="hexagon hex_link hex_button">
                    <div class="hexagon_button_text"><br>Регистрация</div>
                </div>
            </a>
        {% else %}
            <a href="/profile/{{ user.id }}">
                <div class="hexagon hex_left hex_link hex_button">
                    <div class="hexagon_button_text"><br>{{ user.username }}<br>Профиль</div>
                </div>
            </a>
            <a href="/logout">
                <div class="hexagon hex_link hex_button">
                    <div class="hexagon_button_text"><br>Выход</div>
                </div>
            </a>
        {% endif %}

        {% for row_id, row in rows %}
            {% for col_id, theme, solved in row %}
                {% if theme == None %}
                    <div class="hexagon {% if col_id == 0 and row_id|divisibleby:"2" %} hex_left {% endif %}"></div>
                {% else %}
                    <a href="theme/{{ theme.id }}">
                    <div class="hexagon hex_link hex_{{ theme.color }} 
                    {% if col_id == 0 and row_id|divisibleby:"2" %} hex_left {% endif %}
                    {% if solved == 0 %} hex_solved0 {% endif %}
                    {% if solved == 1 %} hex_solved1 {% endif %}
                    {% if solved == 2 %} hex_solved2 {% endif %}
                    {% if solved == 3 %} hex_solved3 {% endif %}
                    {% if solved == 4 %} hex_solved4 {% endif %}
                    {% if solved == 5 %} hex_solved5 {% endif %}">
                    <div class="hexagon_text"><table><tr><td>{{ theme.name }}</td></tr></table></div></div></a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
