{% extends "base.html" %}

{% block head %}
    <title>{{user.username}}</title>
{% endblock %}

{% block body %}
    <h1>{{top_string}}</h1>
    <div class="profile_hex_container">
        <div class="hexagon hex_big hex_big_light_blue">
            <div class="hexagon_text">
                <br><b>Зарегистрирован</b><br>
                {{ user.date_joined }}
            </div>
        </div>
        {% if me %}
        <a href="/settings" class="hex_link">
        <div class="hexagon hex_big hex_big_yellow">
            <div class="hexagon_text">
               <table><tr><td>
               Настройки
               </td></tr></table>
            </div>
        </div>
        </a>
        {% else %}
        <div class="hexagon_big hex_big_yellow">
            <div class="hexagon_text">
            </div>
        </div>
        {% endif %}
        {% if me %}
        <a href="/blank" class="hex_link">
        <div class="hexagon hex_big hex_big_green hex_big_left">
            <div class="hexagon_text">
               <table><tr><td>
               Анкета
               </td></tr></table>
            </div>
        </div>
        </a>
        {% else %}
        <div class="hexagon_big hex_big_green hex_big_left">
            <div class="hexagon_text">
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
