{% extends "base.html" %}

{% block head %}
    <title>Настройки</title>
{% endblock %}

{% block body %}
        <div class="login_hex_container">
            <div class="hexagon hex_left"></div>
            <div class="hexagon hex_yellow"><div class="hexagon_text"><table><tr><td>
                <b>Настройки</b>
            </td></tr></table></div></div>
            {% if missing %}
                <div class="hexagon hex_red"><div class="hexagon_text"><table><tr><td>
                    Имя и фамилия должны быть заполнены
                </td></tr></table></div></div>
            {% elif wrong_old_pass %}
                <div class="hexagon hex_red"><div class="hexagon_text"><table><tr><td>
                    Старый пароль введен неверно
                </td></tr></table></div></div>
            {% elif passwords_not_match%}
                <div class="hexagon hex_red"><div class="hexagon_text"><table><tr><td>
                    Пароли не совпадают
                </td></tr></table></div></div>
            {% else %}
                <div class="hexagon"></div>
            {% endif %}
            <div class="hexagon"></div>

            <div class="hexagon"></div>
            <div class="hexagon_invisible"></div>
            <div class="hexagon_invisible"></div>
            <div class="hexagon_invisible"></div>
            <div class="hexagon"></div>

            <div class="hexagon hex_left"></div>
            <div class="hexagon_invisible"></div>
            <div class="hexagon_invisible"></div>
            <div class="hexagon"></div>

            <div class="hexagon_invisible"></div>
            <div class="hexagon"><div class="hexagon_text"></div></div></a>
            <a href="/profile/{{ user.id }}"><div class="hexagon hex_button hex_link"><div class="hexagon_text"><table><tr><td><b>Назад</b></td></tr></table></div></div></a>
            <div class="hexagon"></div>
            <div class="hexagon_invisible"></div>
        <div class="login_input_position">
            <table width="254"><tr><td>
        <form action="/settings" method="post">
                {% csrf_token %}
                <table>
                <tr>
                <td>Имя</td><td><input type="text" name="firstname" value="{{ user.first_name }}" autocomplete="off"></td>
                </tr>
                <tr>
                <td>Фамилия</td><td><input type="text" name="lastname" value="{{ user.last_name }}" autocomplete="off"></td>
                </tr>
                <tr>
                <td>Старый пароль</td><td><input type="password" name="old_password" autocomplete="off"></td>
                </tr>
                <tr>
                <td>Новый пароль</td><td><input type="password" name="password" autocomplete="off"></td>
                </tr>
                <tr>
                <td>Подтверждение пароля</td><td><input type="password" name="password_1" autocomplete="off"></td>
                </tr>
                </table>
                <input type="submit" value="Сохранить">
            </form>
                </td></tr></table>
            </div>
        </div>
{% endblock %}