{% block head %}
    <title>Регистрация</title>
{% endblock %}

{% block body %}
        {% if login_used %}
        <p>Логин уже используется</p>
        {% endif %}
        <form action="/signup" method="post">
                {% csrf_token %}
                <table>
                <tr>
                <td>Имя</td><td><input type="text" name="firstname"></td>
                </tr>
                <tr>
                <td>Фамилия</td><td><input type="text" name="lastname"></td>
                </tr>
                <tr>
                <td>Логин</td><td><input type="text" name="login"></td>
                </tr>
                <tr>
                <td>Пароль</td><td><input type="password" name="password"></td>
                </tr>
                </table>
                <input type="submit" value="Отправить">
            </form>
{% endblock %}