{% extends "base.html" %}

{% block head %}
    <title>{{theme.name}}</title>
{% endblock %}

{% block body %}
    <a href="/"><h3>На главную</h3></a>
    <h1>{{ theme.name }}</h1>
    {% for group_name, references in groups %}
        <h3 class="ref_group"><img src="/static/img/{{ references.0.group.icon }}"> {{ group_name }} </h3>

        {% for reference in references %}
            <span class="target {{ reference.target.color }}">{{ reference.target.name }}</span> <a target="_blank" href="{{ reference.href }}">{{ reference.name }}</a> <br>
        {% endfor %}
    {% endfor %}
    <h2>Предложить материал</h2>
    <form action="/theme/{{ theme.id }}/" method="post">
        {% csrf_token %}
        <textarea class="comment_field" id="comment" name="comment" rows="5" required
            placeholder="Введите ваше сообщение."></textarea><br>
        <input type="submit" value="Отправить">
    </form>
    {% for comment in comments %}
        <hr>
        {% if comment.user.id %}
        <h3>{{comment.user.last_name}} {{comment.user.first_name}}, {{comment.time}}</h3>
        {% else %}
        <h3>Аноним, {{comment.time}}</h3>
        {% endif %}
        {{comment.message}}
    {% empty %}
        <br><i>Предложений пока нет.</i>
    {% endfor %}

{% endblock %}
