body {
    background: #eee; /* Цвет фона */
}

.hex_container {
    width: 2132;
}

.hexagon{
    float:left;
    position: relative;
    width: 125px;
    height: 70px;
    margin: 30px 2px 5px 2px;
    background-color: white;
    color: black;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 30px solid white;
}

.hexagon:after {
    top: 100%;
    border-top: 30px solid white;
}

.hexagon.left {
    margin-left:62px;
}

.hexagon_text {
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    width: 95%;
}


.hex_red{background-color: red;}
.hex_red:before{border-bottom: 30px solid red;}
.hex_red:after{border-top: 30px solid red;}

.hex_blue{background-color: blue;}
.hex_blue:before{border-bottom: 30px solid blue;}
.hex_blue:after{border-top: 30px solid blue;}

.hex_left {
    margin-left:65px;
}

.hexagon.hex_link:hover{background-color: black; color: white;}
.hexagon.hex_link:hover:before{border-bottom: 30px solid black;}
.hexagon.hex_link:hover:after{border-top: 30px solid black;}
