body {
    background: #eee; /* Цвет фона */
}

.home_hex_container {
    width: 2132px;
}

.hexagon{
    float:left;
    position: relative;
    width: 125px;
    height: 70px;
    margin: 30px 2px 5px 2px;
    background-color: white;
    color: black;
}

.hexagon_invisible{
    float:left;
    position: relative;
    width: 125px;
    height: 70px;
    margin: 30px 2px 5px 2px;
    background-color: none;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 30px solid white;
}

.hexagon:after {
    top: 100%;
    border-top: 30px solid white;
}

.hexagon_text {
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    width: 100%;
    height:100%;
}

.hexagon_text table {
    width:100%;
    height:100%;
}

.hexagon_button_text {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

.hex_left {
    margin-left:66px;
}

.hex_link:hover .hex_big{background-color: black; color: white;}
.hex_link:hover .hex_big:before{border-bottom: 40px solid black;}
.hex_link:hover .hex_big:after{border-top: 40px solid black;}

.hexagon.hex_link:hover{background-color: black; color: white;}
.hexagon.hex_link:hover:before{border-bottom: 30px solid black;}
.hexagon.hex_link:hover:after{border-top: 30px solid black;}

.hex_button{background-color: #0f0;}
.hex_button:before{border-bottom: 30px solid #0f0;}
.hex_button:after{border-top: 30px solid #0f0;}

.hex_red{background-color: #f55;}
.hex_red:before{border-bottom: 30px solid #f55;}
.hex_red:after{border-top: 30px solid #f55;}

.hex_yellow{background-color: #ff5;}
.hex_yellow:before{border-bottom: 30px solid #ff5;}
.hex_yellow:after{border-top: 30px solid #ff5;}

.hex_str{background-color: #759;}
.hex_str:before{border-bottom: 30px solid #759;}
.hex_str:after{border-top: 30px solid #759;}

.hex_start{background-color: #fff; color: red;}
.hex_start:before{border-bottom: 30px solid #fff;}
.hex_start:after{border-top: 30px solid #fff;}
.hex_start .hexagon_text{font-size:18pt;}

.hex_sort{background-color: #55f;}
.hex_sort:before{border-bottom: 30px solid #55f;}
.hex_sort:after{border-top: 30px solid #55f;}

.hex_search{background-color: #2cf;}
.hex_search:before{border-bottom: 30px solid #2cf;}
.hex_search:after{border-top: 30px solid #2cf;}

.hex_rec{background-color: #f99;}
.hex_rec:before{border-bottom: 30px solid #f99;}
.hex_rec:after{border-top: 30px solid #f99;}

.hex_nums{background-color: #ff9;}
.hex_nums:before{border-bottom: 30px solid #ff9;}
.hex_nums:after{border-top: 30px solid #ff9;}

.hex_graph{background-color: #8a8;}
.hex_graph:before{border-bottom: 30px solid #8a8;}
.hex_graph:after{border-top: 30px solid #8a8;}

.hex_geom{background-color: #f76;}
.hex_geom:before{border-bottom: 30px solid #f76;}
.hex_geom:after{border-top: 30px solid #f76;}

.hex_eq{background-color: #092;}
.hex_eq:before{border-bottom: 30px solid #092;}
.hex_eq:after{border-top: 30px solid #092;}

.hex_dp{background-color: #7f4;}
.hex_dp:before{border-bottom: 30px solid #7f4;}
.hex_dp:after{border-top: 30px solid #7f4;}

.hex_data{background-color: #c5f;}
.hex_data:before{border-bottom: 30px solid #c5f;}
.hex_data:after{border-top: 30px solid #c5f;}

.hex_comb{background-color: #cc3;}
.hex_comb:before{border-bottom: 30px solid #cc3;}
.hex_comb:after{border-top: 30px solid #cc3;}

.hex_alg{background-color: #fc6;}
.hex_alg:before{border-bottom: 30px solid #fc6;}
.hex_alg:after{border-top: 30px solid #fc6;}


.profile_hex_container {
    width: 500px;
}

.hex_big{
    width: 165px;
    height: 90px;
    margin: 40px 4px 5px 4px;
}

.hex_big:before,
.hex_big:after {
    border-left: 82px solid transparent;
    border-right: 82px solid transparent;
}

.hex_big:before {
    border-bottom: 40px solid white;
}

.hex_big:after {
    border-top: 40px solid white;
}

.hex_big_text {
    text-align: center;
    font-family: sans-serif;
    font-size: 12pt;
    width: 95%;
}


.hex_big_left {
    margin-left:91px;
}

.hex_big_light_blue{background-color: #adf;}
.hex_big_light_blue:before{border-bottom: 40px solid #adf;}
.hex_big_light_blue:after{border-top: 40px solid #adf;}

.hex_big_yellow{background-color: #ff9;}
.hex_big_yellow:before{border-bottom: 40px solid #ff9;}
.hex_big_yellow:after{border-top: 40px solid #ff9;}

.hex_big_green{background-color: #7f7;}
.hex_big_green:before{border-bottom: 40px solid #7f7;}
.hex_big_green:after{border-top: 40px solid #7f7;}

.hex_big_red{background-color: #f77;}
.hex_big_red:before{border-bottom: 40px solid #f77;}
.hex_big_red:after{border-top: 40px solid #f77;}

.informatics_ref{color:saddlebrown}
.foxford_ref{color:darkorange}
.habr_ref{color:#36f}
.emaxx_ref{color:darkgreen}
.sis_ref{color:gold}
.target{text-transform:uppercase;font-size:1.2em;padding-right:5px;}
.ref_group{margin-bottom:7px;margin-top:25px;}


.login_hex_container {
    width: 700px;
}

td input {
    width: 100%;
}

.login_input_position {
    position: absolute;
    left: 205px;
    top: 150px;
}
